@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    border-style: solid;
    border-width: 4px;
    margin: 0.5rem 1.25rem;
    color: theme("colors.gray-light");
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 0.25rem;
  }
  .btn-linear {
  }
  .btn-rounded {
    border-radius: 100px;
    width: fit-content;
    padding: 0.7rem;
    z-index: 3;
    margin-right: 10;
    position: absolute;
    right: -50px;
  }
  .bg-gradient {
    background: rgb(3, 65, 97);
    background: linear-gradient(
      300deg,
      rgba(3, 65, 97, 0.28757440476190477) 14%,
      rgba(86, 53, 74, 0.5984987745098039) 28%,
      rgba(232, 111, 123, 0.20073967086834732) 31%,
      rgba(230, 74, 79, 0.1503195028011205) 41%,
      rgba(204, 57, 57, 0.18393294817927175) 48%,
      rgba(222, 56, 31, 0.217546393557423) 55%,
      rgba(215, 120, 71, 0.34079569327731096) 60%,
      rgba(237, 156, 90, 0.14751838235294112) 65%,
      rgba(251, 181, 82, 0.1643251050420168) 68%,
      rgba(3, 65, 97, 0.23435311624649857) 72%
    );
  }
}
