@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  body {
    @apply bg-red-800;
  }
  
} */

.text-updater-node {
  /* height: 50px; */
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 5px;
  background: white;
}
